img {
  width: 400px;
}

#bear-showing {
  display: none;
}

#info-showing {
  display: none;
}

#danger-showing {
  display: none;
}

.clickable, .info-click, .danger-click {
  cursor: zoom-in;
  color: #0088cc;
}

.clickable:hover, .info-click:hover, .danger-click:hover {
  text-decoration: overline;
}
